/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        Moon Yellow:         orange
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */


/* =========================================
                Html, Body
============================================ */

@import url(https://fonts.googleapis.com/css?family=Dosis:600,200|Great+Vibes);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://weloveiconfonts.com/api/?family=maki);

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

/* =========================================
                logo
============================================ */

a .logo{
    font-size: 20px;
    margin-top: 2px;
    color: orange;
}

.volverAInicio{
    font-size: 20px;
    margin-top: 2px;
    margin-right: 800px;
    color: orange;
}


/* =========================================
                Preloader
============================================ */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}


/* =========================================
                Home
============================================ */

#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(56, 56, 56, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: orange;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;  
}

.navbar-brand img{
    width: 120px;
    height: 65px;
    object-fit: cover;
    margin-top: -15px;
    
    border-radius: 2px;
    
}

.navbar-brand .segundaImagen{
    display: none;
    width: 130px;
    height: 50px;
    object-fit: cover;
    margin-top: -10px;
    border-radius: 2px;
}


/* =========================================
                Buttons
============================================ */

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: orange;
    border: 1px solid orange;
}

.btn-yellow {
    color: #fff;
    border: 1px solid orange;
    background-color: orange;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

.btn-white {
    color: #212226;
    border: 1px solid #fff;
    background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 22px;
    display: none;
}


/* =========================================
                Arrow Down
============================================ */

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: orange;
}


/* =========================================
                Content Boxes
============================================ */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}


/* =========================================
        Vertical/Horizontal Headings
============================================ */

.vertical-heading h5 {
    color: orange;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -53px;
}

.vertical-heading h2 {
    
}

.horizontal-heading h2,
.vertical-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: orange;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    margin: 0;
}


/* =========================================
                About 01
============================================ */
#about{
    margin-bottom: -170px;
}

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}


/* =========================================
                About 02
============================================ */

#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: orange;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}


/* Hover state */

.about-item:hover {
    background-color: orange;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}


/* Smooth transition */

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.about-item h3,
.about-item p {
   -webkit-transition: all 400ms linear;
    transition: all 400ms linear;  
}

/* =========================================
                Team
============================================ */

#team-left .vertical-heading {
    min-height: 160px;
}

.team-member {
    margin: 8px;
    position: relative;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: orange;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #fff;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}


/* =========================================
                Social Icons
============================================ */

ul.social-list {
    padding: 0;
    margin-top: 20px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}


ul.social-list li:nth-child(1) a:hover {
    background: #00aced;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background: #3b5998;
    border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background: #dd4b39;
    border-color: transparent;
}

ul.social-list li:nth-child(4) a:hover {
    background: #3b5998;
    border-color: transparent;
}

.lista-redes{
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.lista-redes li{
    margin: 20px 15px 0px 5px;
    list-style: none;
}

.lista-redes li i{
    
    font-size:x-large;
}

/* =========================================
                Slider Buttons
============================================ */

.owl-theme .owl-nav [class*=owl-] {
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #212226;
}


/* =========================================
                Skills
============================================ */

.skill {
    margin-bottom: 20px;
}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.progress {
    height: 25px;
    border-radius: 0;
    background: #efefef;
    overflow: visible;
}

.progress-bar {
    background: orange;
    position: relative;
}

.progress-bar span {
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    background: #212226;
    padding: 3px;
    position: absolute;
    left: 97%;
    top: -47px;
}

.progress-bar span:before {
    content: "";
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;
}


/* =========================================
                Statement
============================================ */

#statement {
    background: url("../img/tech/tech-statement.jpg") no-repeat fixed center;
    background-size: cover;
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
}

#tech-statement h3 {
    color: #fff;
    font-size: 28px;
    line-height: 45px;
}

#tech-statement p {
    font-size: 14px;
    color: orange;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}


/* =========================================
                Services 01
============================================ */

#services-01 img {
    margin: 60px 0;
}

.service {
    margin: 35px 0;
}

.service .icon {
    font-size: 42px;
    margin: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.service:hover .icon {
    color: orange;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.service h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: orange;
    margin: 0 0 6px 0;
}

.service:hover h5 {
    color: #212226;
}

.service h4 {
    font-size: 24px;
    margin: 0 0 8px 0;
}

.service p {
    line-height: normal;
}


/* =========================================
    Services 02 (Responsive Tabs)
============================================ */

#services-02 {
    background: #f4f4f4;
}

#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}


/* Tab active state */

#services-tabs ul li.r-tabs-state-active a {
    color: orange;
    font-weight: 700;
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg {
    background: #fff;
    padding: 59px 30px;
    min-height: 481px;
}

.service-tab h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}


/* =========================================
                Portfolio
============================================ */

#portfolio {
    padding-bottom: 160px;
}

#portfolio .vertical-heading {
    margin-bottom: 50px;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}


/* Filters CSS */

#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
    color: orange;
    border-bottom: 3px solid orange;
}


/* Zoom Effect */

.portfolio-item img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Overlay Effect */

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: -webkit-zoom-in;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Item Details Effect */

.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: orange;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}


/* =========================================
                Testimonials
============================================ */

#testimonials {
    background: #f4f4f4;
    padding-bottom: 45px;
    overflow: visible;
}

#testimonials .vertical-heading {
    padding: 80px 0;
    margin-bottom: 50px;
}

#testimonial-slider {
    background: orange;
    top: -120px;
}

.testimonial .row {
    margin-bottom: 25px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: #fff;
}

.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.author .author-name-des {
    width: 106px;
    margin-top: 25px;
    text-align: left;
}

.author .author-name-des p {
    margin: 0;
}


/* =========================================
                Pricing
============================================ */

.pricing-table {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 32px 21px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.pricing-table:hover {
    background: orange;
}

.pricing-table .type h4 {
    color: orange;
    font-size: 24px;
    margin-bottom: 25px;
}

.pricing-table .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}

.pricing-table .price h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 24px;
    position: relative;
}

.pricing-table .price h2 span {
    font-family: "Raleway", sans-serif;
}

.pricing-table .price h2 span.dollar {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: -20px;
    top: 5px;
}

.pricing-table .price h2 span.month {
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    bottom: -12px;
}

.pricing-table .price p {
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.pricing-table ul.package {
    list-style: none;
    padding: 20px 0;
}

.pricing-table ul.package li {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}

.pricing-table ul.package li i {
    width: 24px;
}

.pricing-table .btn-yellow,
.pricing-table.black .btn-white {
    width: 96%;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package {
    color: #fff;
}

.pricing-table:hover .btn-yellow {
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-table .btn-yellow:hover,
.pricing-table .btn-yellow:focus {
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}


/* Black Pricing Table */

.pricing-table.black {
    background: #212226;
    color: #fff;
}

.pricing-table.black .type h4 {
    color: #fff;
}

.pricing-table.black:hover {
    background: orange;
}


/* =========================================
                Stats
============================================ */

#stats {
    background: url("../img/stats/stats-bg.jpg") no-repeat fixed center;
    background-size: cover;
}

#stats .content-box-md {
    background: rgba(0, 0, 0, 0.8);
}

#stats .vertical-heading {
    margin-bottom: 50px;
}

#stats .vertical-heading h2 {
    color: #fff;
}

.stats-item {
    background: rgba(61, 68, 68, 0.6);
    border-radius: 4px;
    min-height: 170px;
    padding: 25px 50px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.stats-item i {
    font-size: 42px;
    color: orange;
    margin: 0 0 6px 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;
}

.stats-item p {
    color: #fff;
    margin: 0;
}

.stats-item:hover {
    background: orange;
}

.stats-item:hover i {
    color: #212226;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.stats-item div{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.stats-item div h3{
    margin-left: 10px;
}


/* =========================================
                Clients
============================================ */

#clients .horizontal-heading {
    margin-bottom: 30px;
}

#clients-list {
    padding: 45px 0 0 0;
}

.client {
    padding: 0 10px;
    max-width: 150px;
    margin: 0 auto;
    line-height: 100px;
}

.client img {
    display: inline-block !important;
}


/* =========================================
                Blog
============================================ */
.pressItem{
    cursor: pointer;
}

div .press{
    width: 100%;
}

#blog {
    background: #f4f4f4;
}

#blog-left p {
    margin: 25px 0;
}

#blog-left img {
    width: 200px;
    margin-top: 20px;
    
}

#blog-btn a {
    margin: 0;
}

.blog-post {
    background: white;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(77, 50, 50, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 80vh;
}



.blog-post a img {
  width: 100%;
  object-fit: contain;
}

.blog-post img:hover {
    width: 100%;
    object-fit: contain;
    opacity: 0.6;
  }

.blog-post h4 {
    line-height: 40px;
    margin: 0;
}

.blog-post>p {
    line-height: 24px;
    margin: 0;
    font-weight: 300;
}

.blog-post a {
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: orange;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.blog-post a:hover {
    color: #212226;
}

.blog-post .post-meta {
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-top: 10px;
}

.blog-post .post-meta p {
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}

.informes {
    background: white;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(77, 50, 50, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 60vh;
}



.informes a {
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: orange;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.informes img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.informes a img {
    width: 100%;
    object-fit: contain;
  }

.informes a:hover {
    color: #212226;
}

.informesPagina {
    background: white;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(77, 50, 50, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.informesPagina div h4 {
    margin-top: 10px;
    
}


.informesPagina a {
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: orange;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.informesPagina img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin-bottom: 10px;
}

.informesPagina a img {
    width: 100%;
    object-fit: contain;
  }

.informesPagina a:hover {
    color: #212226;
}

/* =========================================
                Contact
============================================ */

#contact{
    background-color: #f4f4f4;
}

/* Contact Left */

#contact-left p {
    margin: 25px 0 20px 0;
}

ul.office-details {
    list-style: none;
    padding: 0;
}

ul.office-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

ul.office-details li i {
    font-size: 20px;
    width: 30px;
    
}

ul.office-details li span{
     width: 150px; 

}

#contact-left ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}

#contact-left ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}


/* Contact Right */

#contact-right {
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: white;
}

#contact-right h4 {
    font-size: 24px;
}

#contact-right p {
    margin-bottom: 25px;
}

#contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

#contact-right form textarea.form-control {
    min-height: 164px;
}




/* =========================================
                Google Map
============================================ */

#map {
    height: 600px;
}


/* =========================================
                Footer
============================================ */

footer {
    background: #212226;
    padding: 30px;
}

footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}

footer p span {
    color: orange;
}


/* =========================================
                Navigation
============================================ */

.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}

ul.navbar-nav>li>a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
    color: orange;
}


/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav>li>a {
    color: #212226;
}

.white-nav-top ul.navbar-nav>li>a:hover,
.white-nav-top ul.navbar-nav>li>a:focus {
    color: orange;
}


/* Scroll spy active state */

.white-nav-top ul.navbar-nav>li.active>a {
    color: orange;
    font-weight: 500;
}


/* =========================================
                Animation
============================================ */

#home-heading-1,
#home-heading-2,
#home-text,
#home-btn,
#arrow-down i {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

#home-heading-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#home-heading-2 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#home-text {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

#home-btn {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#arrow-down i {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

/* =========================================
                Prensa
============================================ */

div .imagenPrensa{
    width: 300px;
    height: 300px;
    object-fit: contain;
    box-shadow: rgb(192, 192, 192) 0px 0px 60px 0px;
}

@media (min-width: 720px) {

    


  p{
      padding: 25px;
  }

  #exampleModalLabel1{
    margin-right: 400px;
}
}

.prensaArticuloImagen img{
    width: 100%;
}

.prensaArticuloImagenInversorUy img{
    height: 400px;
    margin: 20px;
}

.inversorUy img{
    width: 250px;

}

.informes div h4{
    margin-top: 20px;
}


/* =========================================
                Propiedades
============================================ */

.card {
	position: relative;
	width: 350px;
	height: 350px;
	perspective: 50rem;
    margin: 20px;
  }
  .front, .back {
	position: absolute;
	width: 100%; height: 100%;
	transition: transform 1s;
	backface-visibility:hidden;
  }

  .front, .back2 {
	position: absolute;
	width: 100%; height: 100%;
	transition: transform 1s;
	backface-visibility:hidden;
  }

  .front, .back3 {
	position: absolute;
	width: 100%; height: 100%;
	transition: transform 1s;
	backface-visibility:hidden;
  }

  .front, .back4 {
	position: absolute;
	width: 100%; height: 100%;
	transition: transform 1s;
	backface-visibility:hidden;
  }

  .front, .back5 {
	position: absolute;
	width: 100%; height: 100%;
	transition: transform 1s;
	backface-visibility:hidden;
  }
  .front, .back6 {
	position: absolute;
	width: 100%; height: 100%;
	transition: transform 1s;
	backface-visibility:hidden;
  }

  .front { 
	background-color: white; 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
  }

  .front img { 
	width: 100%;
    height: 250px;
	object-fit: cover;

  }

  .front div{
      margin: 10px;
  }

  span i{
      color: #dd8800;
  }

  /* =========================================
                1
============================================ */
  .back { 
	background-image: url('../img/client/2.jpeg'); 
    background-size: 180%;
    background-repeat: no-repeat;
	transform: rotateY(180deg); 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
    opacity: 0.9;
    display: flex;
  }

  .back:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 25, 25, 0.6);
    z-index: -1;
}

.back div{
    margin: auto;
   }
   
     .back a{
         padding: 15px;
         background-color: #dd8800;
         border-radius: 5px;
         color: white;
         text-decoration: none;
         font-size: 15px;
         text-align: center;
     }
   
     .back a:hover{
         color: #dd8800;
         background-color: white;
         transition: 2s;
         opacity: 0.8;
   
     }

      /* =========================================
                2
============================================ */

  .back2 { 
	background-image: url('../img/client/4.jpeg'); 
    background-size: 180%;
    background-repeat: no-repeat;
	transform: rotateY(180deg); 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
    opacity: 0.9;
    display: flex;
  }

  .back2:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 25, 25, 0.6);
    z-index: -1;
}

.back2 div{
    margin: auto;
   }
   
     .back2 a{
         padding: 15px;
         background-color: #dd8800;
         border-radius: 5px;
         color: white;
         text-decoration: none;
         font-size: 15px;
         text-align: center;
     }
   
     .back2 a:hover{
         color: #dd8800;
         background-color: white;
         transition: 2s;
         opacity: 0.8;
   
     }

 /* =========================================
                3
============================================ */

.back3 { 
	background-image: url('../img/client/6.jpeg'); 
    background-size: 180%;
    background-repeat: no-repeat;
	transform: rotateY(180deg); 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
    opacity: 0.9;
    display: flex;
  }

  .back3:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 25, 25, 0.6);
    z-index: -1;
}

.back3 div{
    margin: auto;
   }
   
     .back3 a{
         padding: 15px;
         background-color: #dd8800;
         border-radius: 5px;
         color: white;
         text-decoration: none;
         font-size: 15px;
         text-align: center;
     }
   
     .back3 a:hover{
         color: #dd8800;
         background-color: white;
         transition: 2s;
         opacity: 0.8;
   
     }

 /* =========================================
                4
============================================ */
.back4 { 
	background-image: url('../img/client/7.jpeg'); 
    background-size: 180%;
    background-repeat: no-repeat;
	transform: rotateY(180deg); 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
    opacity: 0.9;
    display: flex;
  }

  .back4:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 25, 25, 0.6);
    z-index: -1;
}

.back4 div{
    margin: auto;
   }
   
     .back4 a{
         padding: 15px;
         background-color: #dd8800;
         border-radius: 5px;
         color: white;
         text-decoration: none;
         font-size: 15px;
         text-align: center;
     }
   
     .back4 a:hover{
         color: #dd8800;
         background-color: white;
         transition: 2s;
         opacity: 0.8;
   
     }

 /* =========================================
                5
============================================ */
.back5 { 
	background-image: url('../img/client/4.jpeg'); 
    background-size: 180%;
    background-repeat: no-repeat;
	transform: rotateY(180deg); 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
    opacity: 0.9;
    display: flex;
  }

  .back5:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 25, 25, 0.6);
    z-index: -1;
}

.back5 div{
    margin: auto;
   }
   
     .back5 a{
         padding: 15px;
         background-color: #dd8800;
         border-radius: 5px;
         color: white;
         text-decoration: none;
         font-size: 15px;
         text-align: center;
     }
   
     .back5 a:hover{
         color: #dd8800;
         background-color: white;
         transition: 2s;
         opacity: 0.8;
   
     }

 /* =========================================
                6
============================================ */

.back6 { 
	background-image: url('../img/client/11.jpeg'); 
    background-size: 180%;
    background-repeat: no-repeat;
	transform: rotateY(180deg); 
    width: 100%;
    box-shadow: grey 0px 1px 2px 0px;
    opacity: 0.9;
    display: flex;
  }

  .back6:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 25, 25, 0.6);
    z-index: -1;
}

.back6 div{
    margin: auto;
   }
   
     .back6 a{
         padding: 15px;
         background-color: #dd8800;
         border-radius: 5px;
         color: white;
         text-decoration: none;
         font-size: 15px;
         text-align: center;
     }
   
     .back6 a:hover{
         color: #dd8800;
         background-color: white;
         transition: 2s;
         opacity: 0.8;
   
     }




  .card:hover .front{ transform: rotateY(180deg); }
  .card:hover .back { transform: rotateY(360deg); }

  .card:hover .back2 { transform: rotateY(360deg); }
  .card:hover .back3 { transform: rotateY(360deg); }
  .card:hover .back4 { transform: rotateY(360deg); }
  .card:hover .back5 { transform: rotateY(360deg); }
  .card:hover .back6 { transform: rotateY(360deg); }

  

  /* =========================================
                Fin Propiedades
============================================ */



    





@keyframes scroll{
    0%{    opacity:.4;}
    100%{opacity:1;}
}        
@media screen and (max-width: 685px){
    .containerSlider{
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 55%; 
    }    

    .lista-redes{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }


    #exampleModalLabel1{
        margin-right: 200px;
    }

    #propiedades{
        margin-top: 100px;
    }
    
    label span { font-size: 50pt; }
    
    .prev, .next{
        width: 15%;
    }    
    #nav_slide .dots{
        width: 12px;
        height: 12px;
    }
}
@media screen  and(min-width: 970px){
    .me{ display: none;}

}



/* prop alert */


.ftco-section {
    padding: 6em 0;
    position: relative; }
    
@media (max-width: 767.98px) {
.ftco-section {
    padding: 6em 0; } }

              @media (max-width: 767.98px) {
                .search-property-1 .form-group .icon {
                  right: 10px; } }

   
      
    
          /*titulo prop*/
          .property-details h2 {
            font-weight: 600; }
          /*Sub titulo prop*/
          .property-details span.subheading {
            font-size: 18px;
            color: #d4ca68;
            font-weight: 500;
            display: block; }


    /* contenido prop */
                            .nav-pills {
                                font-size: 18px;
                                font-weight: 400;
                                display: inline-block; }
                                .nav-pills li {
                                  display: inline-block;
                                  font-weight: 500; }
                                  .nav-pills li a {
                                    margin-right: 2px;
                                    color: rgba(0, 0, 0, 0.3);
                                    border: 1px solid rgba(0, 0, 0, 0.1); }
                                    .nav-pills li a.active {
                                      background: #d4ca68 !important;
                                      color: #fff !important;
                                      border: 1px solid #d4ca68; }




  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 15px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-weight: 600;
    opacity: 1 !important; }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
      color: #d4ca68; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        color: #fff; } }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
          display: none; } }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    border: 1px solid #d4ca68;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 4px;
    background: #d4ca68;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
      display: inline-block;
      color: #fff; }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
      background: #d4ca68;
      border: 1px solid #d4ca68; }
  .ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored a {
    border: 1px solid #f7b71d;
    background: #f7b71d !important; }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #d4ca68; }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: #d4ca68; } }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
      text-decoration: none;
      color: #d4ca68;
      outline: none !important; }
  .ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
    @media (max-width: 991.98px) {
      .ftco-navbar-light.scrolled .nav-item > .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important; } }
    .ftco-navbar-light.scrolled .nav-item.active > a {
      color: #d4ca68 !important; }
    .ftco-navbar-light.scrolled .nav-item.cta > a {
      color: #fff !important;
      background: #d4ca68;
      border: none !important;
      padding-top: 0.5rem !important;
      padding-bottom: .5rem !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-top: 6px !important;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .ftco-navbar-light.scrolled .nav-item.cta > a span {
        display: inline-block;
        color: #fff !important; }
    .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
      border-color: #d4ca68; }

      .nav-link {
        display: block;
        padding: 0.5rem 1rem; }
        .nav-link:hover, .nav-link:focus {
          text-decoration: none; }
        .nav-link.disabled {
          color: #6c757d;
          pointer-events: none;
          cursor: default; }
      
      .nav-tabs {
        border-bottom: 1px solid #dee2e6; }
        .nav-tabs .nav-item {
          margin-bottom: -1px; }
        .nav-tabs .nav-link {
          border: 1px solid transparent;
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem; }
          .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
            border-color: #e9ecef #e9ecef #dee2e6; }
          .nav-tabs .nav-link.disabled {
            color: #6c757d;
            background-color: transparent;
            border-color: transparent; }
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
          color: #495057;
          background-color: #fff;
          border-color: #dee2e6 #dee2e6 #fff; }
        .nav-tabs .dropdown-menu {
          margin-top: -1px;
          border-top-left-radius: 0;
          border-top-right-radius: 0; }
      
      .nav-pills .nav-link {
        border-radius: 0.25rem; }
      
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #007bff; }


        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .nav-link.active {
          color: #fff; }

          
          
          .tab-content > .active {
            display: block; }

            .tab-content > .tab-pane {
                display: none; }
                .pills .tab-pane {
                    padding: 2em;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 4px; }

                    .pills .features {
                        margin: 0;
                        padding: 0; }
                        .pills .features li {
                          list-style: none; }
                          .pills .features li span {
                            font-size: 20px;
                            margin-right: 15px; }
                          .pills .features li.check span {
                            color: #d4ca68; }
                          .pills .features li.remove span {
                            color: red; }
                            .pills .features li.check span {
                                color: #d4ca68; }

                             

                                    .pills .tab-pane {
                                        padding: 2em;
                                        border: 1px solid rgba(0, 0, 0, 0.1);
                                        border-radius: 4px; }

                                        .tab-content > .active {
                                            display: block; }


/*dsajdkashdasjkdhasjkdhasjkdhajskdhasjkdhajskdhkasd*/

.fondo, .fondo:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  * {margin:0;padding:0;border: 0 none;position: relative;}
  [class*="fontawesome-"]:before {font-family: 'fontawesome', sans-serif;}
  
  
  
  /* maki */
  [class*="maki-"]:before {
    font-family: 'maki', sans-serif;
  }
  
  
  .fondo {
    background: #e9e8e8;
    width: 100%;
    max-width: 100%;
    height: 65rem;
    margin: 4rem auto;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
  }
  article {
    position: absolute;
    left: 0;
    top: 5rem;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem 0;
    overflow: auto;
    transition: .7s;
    transform: scale(0);
    transform-origin: center right;
    transition-delay: .1s;
  }
  article:before {
    color: rgba(0,0,0,.2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .uno h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: rgba(0,0,0,.6);
  }

  .uno h2 span {
    font-family: Great Vibes;
    font-weight: 400;
    display: block;
    margin-top: 3rem;
  }
  .footerCard ul {
    width: 100%;
    color: #dd8800;
  }
  .footerCard li {
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;  
  }
  
  .navegator {
    background: #fff;
    width: 100%;
    height: 7rem;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
  }

  .navegator label {
      display: flex;
      justify-content: center;
      margin-top: 8px;
  }
  .navegator:after {
    content:'';
    width: 25%;
    height: 5rem;
    background: #dd8800;
    position: absolute;
    transition: .5s;
  }
  input {
    display: none;
  }
  label {
    width: 25%;
    float: left;
    color: #dd8800;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
  }
  label:hover {color: #dd8800;}
  label:before {
    display: block;
    font-size: 3rem;
    line-height: 5rem;
    z-index: 2;
  }
  
  #profile:checked ~ nav [for='profile'],
  #settings:checked ~ nav [for='settings'],
  #posts:checked ~ nav [for='posts'],
  #books:checked ~ nav [for='books'],

  #profile1:checked ~ nav [for='profile1'],
  #settings1:checked ~ nav [for='settings1'],
  #posts1:checked ~ nav [for='posts1'],
  #books1:checked ~ nav [for='books1'],

  #profile2:checked ~ nav [for='profile2'],
  #settings2:checked ~ nav [for='settings2'],
  #posts2:checked ~ nav [for='posts2'],
  #books2:checked ~ nav [for='books2'],

  #profile3:checked ~ nav [for='profile3'],
  #settings3:checked ~ nav [for='settings3'],
  #posts3:checked ~ nav [for='posts3'],
  #books3:checked ~ nav [for='books3'],

  #profile4:checked ~ nav [for='profile4'],
  #settings4:checked ~ nav [for='settings4'],
  #posts4:checked ~ nav [for='posts4'],
  #books4:checked ~ nav [for='books4'],  

  #profile5:checked ~ nav [for='profile5'],
  #settings5:checked ~ nav [for='settings5'],
  #posts5:checked ~ nav [for='posts5'],
  #books5:checked ~ nav [for='books5']{
    color: white;
    font-weight: 600;
  }

  /* 1 tarjeta */
  
  #profile:checked ~ nav:after {
    left: 0;
  }
  #settings:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
  }
  #posts:checked ~ nav:after {
    left: 50%;
  }
  #books:checked ~ nav:after {
    left: 75%;
  }
   /* FIN 1 tarjeta */

   /* 2 tarjeta */

  #profile1:checked ~ nav:after {
    left: 0;
  }
  #settings1:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
  }
  #posts1:checked ~ nav:after {
    left: 50%;
  }
  #books1:checked ~ nav:after {
    left: 75%;
  }

   /* FIN 2 tarjeta */

     /* 3 tarjeta */

  #profile2:checked ~ nav:after {
    left: 0;
  }
  #settings2:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
  }
  #posts2:checked ~ nav:after {
    left: 50%;
  }
  #books2:checked ~ nav:after {
    left: 75%;
  }

   /* FIN 3 tarjeta */

     /* 4 tarjeta */

  #profile3:checked ~ nav:after {
    left: 0;
  }
  #settings3:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
  }
  #posts3:checked ~ nav:after {
    left: 50%;
  }
  #books3:checked ~ nav:after {
    left: 75%;
  }

   /* FIN 4 tarjeta */

     /* 5 tarjeta */

  #profile4:checked ~ nav:after {
    left: 0;
  }
  #settings4:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
  }
  #posts4:checked ~ nav:after {
    left: 50%;
  }
  #books4:checked ~ nav:after {
    left: 75%;
  }

   /* FIN 5 tarjeta */


     /* 6 tarjeta */

  #profile5:checked ~ nav:after {
    left: 0;
  }
  #settings5:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
  }
  #posts5:checked ~ nav:after {
    left: 50%;
  }
  #books5:checked ~ nav:after {
    left: 75%;
  }
   /* FIN 6 tarjeta */
  
  #profile:checked ~ .uno,
  #settings:checked ~ .dos,
  #posts:checked ~ .tres,
  #books:checked ~ .cuatro,
  #profile1:checked ~ .cinco,
  #settings1:checked ~ .seis,
  #posts1:checked ~ .siete,
  #books1:checked ~ .ocho,
  #profile2:checked ~ .nueve,
  #settings2:checked ~ .diez,
  #posts2:checked ~ .once,
  #books2:checked ~ .doce,
  #profile3:checked ~ .trece,
  #settings3:checked ~ .catorce,
  #posts3:checked ~ .quince,
  #books3:checked ~ .dieciseis,
  #profile4:checked ~ .diecisiete,
  #settings4:checked ~ .dieciocho,
  #posts4:checked ~ .diecinueve,
  #books4:checked ~ .veinte,
  #profile5:checked ~ .veintiuno,
  #settings5:checked ~ .veintidos,
  #posts5:checked ~ .veintitres,
  #books5:checked ~ .veinticuatro{
    display: block;
    transform: scale(1);
    transition-delay: .2s; 
  }
  


@media (max-width: 700px) {
 

     .tres div ul li p{
        font-size: 14px;
        padding: 20px;
    }

    .tres div ul li h4{
        margin-top: 50px; 
     }

     .cuatro div ul li p{
        font-size: 14px;
        padding: 20px;
    }

    .cuatro div ul li h4{
        margin-top: 50px; 
     }


 }




.tres div{
    display: flex;
    flex-direction: row;
}

.tres div ul{
    justify-content: space-between;
    
    list-style: none;
    font-size: medium;
    flex-wrap:nowrap;
}

.tres div ul li{
    margin: 5px;
}

.tres div ul li h4{
    font-weight: bold;
 }

.tres div ul li p{
    font-size: 14px;
    margin-top: -20px;
}


.cuatro{
    margin-top: 40px;
}

.cuatro div{
    display: flex;
    flex-direction: row;
}

.cuatro div ul{
    justify-content: space-between;
    list-style: none;
    font-size: medium;
    flex-wrap:nowrap;
}

.cuatro div ul li{
    margin: 5px;
}

.cuatro div ul li h4{
    font-weight: bold;
 }

.cuatro div ul li p{
    font-size: 14px;
    margin-top: -20px;
}

.containerTable {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}


.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    margin-top: 40px;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}


container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  /* Font styles */
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #607D8B;
  letter-spacing: .01em;
}

.container {
  position: relative;
}

/* Panels */
.swipe {
  position: relative;
  width: 100%;
  height: 100%; /* "min-height" doesn't work on Firefox. */
  background: #eee;
  overflow-x: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.left {
  left: -100%;
}

.right {
  left: 100%;
}

/* Info */
.info {
  position: absolute;
  width: 80%;
  max-width: 500px;
  bottom: 20%;
  right: 10%;
  pointer-events: none;
}

.inner {
  position: relative;
  padding: 1.66em 3em;
  background: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info:before {
  content: "";
  position: absolute;
  width: 65%;
  height: 80%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  background: #E91E63;
  background: #3F51B5;
}

.buttons {
  position: absolute;
  bottom: -50px;
  right: 5%;
  pointer-events: all;
}

.buttons button {
  transition: ease .4s;
}

.btn-prev,
.btn-next {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 60px;
  color: #FFFFFF;
  background: -webkit-linear-gradient(top, #F5515F, #E91E63);
  background: linear-gradient(to bottom, #F5515F, #E91E63);
  box-shadow: 0px 3px 15px 2px rgba(245,81,95,.8);
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 0px 3px 30px 3px rgba(245,81,95,.8);
}

.buttons button:disabled {
  box-shadow: 0px 1px 5px 0px rgba(245,81,95,.8);
  background: -webkit-linear-gradient(top, #E91E63, #F5515F);
  background: linear-gradient(to bottom, #E91E63, #F5515F);
  cursor: default;
}

/* Optional content */
.optional {
  width: 80%;
  max-width: 680px;
  margin: 6em auto;
  padding: 2em 3em;
  box-shadow: 
    0 3px 12px rgba(0,0,0,0.16), 
    0 3px 12px rgba(0,0,0,0.23);
}

@media (max-width: 620px) {
  body {
    font-size: 13px;
    line-height: 1.5em;
  }
  .info {
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    right: 0;
  }

  .inner {
    padding: .5em 1.5em;
    box-shadow: none;
  }
  
  .buttons {
    display: none;
  }
}

.modal-header{
    display: flex;
    justify-content: space-between;
}



.iconoCruz{
    color: black;
}


/*fdjtdkslfjdslf*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	


#slider {
  position: relative;
  overflow: hidden;
  margin: 40px auto 0 auto;
  width: 100%;
  border-radius: 4px ;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

#slider ul li img{
    width: 700px;
    height: 300px;
    object-fit: cover;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.appImage img{
    margin-top: 20px;
    width: 400px;
    height: 550px;
    object-fit: contain;
    
}




/*carrusel*/


.carousel{
    width: 100%;
    margin: 0pc 60px;
}

.carousel h2 {
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: 0.9;
    letter-spacing: 10px;
    text-align: center;
}

.slick-lista{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    max-width: 90vw;
    overflow: hidden;
}

.slick-track{
    position: relative;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: white;
    padding: 15px;
}

.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    transition: .3 ease-in-out;
}

.slick a img:hover{
    opacity: 0.85;
}

.slick-arrow{
    border-radius: 30px;
    background-color: white;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    border: 0;
    cursor: pointer;
}

.slick-arrow:focus{
    outline: 0;
}

.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, .7);
}

.slick-next{
    right: 0;
}



/*Slider Prop */

.cuerpo{
    height: 900px;
}

div .slider{
	max-width: 550px;
    max-height: 350px;
    width: calc(100% - 30px);
    height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.2);
	border: 6px solid rgba(255,255,255,0.3);
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-clip: border-box;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.slider-inner{
	width: 100%;
	height: 100%;
}
.slider-inner .slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: 0.5s ease 0.5s;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
.slider-inner .slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider-inner .slide h3{
	width: 100%;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	margin: 0;
	padding: 5px 10px;
	position: absolute;
	bottom: -30px;
	left: 0;
	margin-bottom: -25;
	transition: 0.5s ease 0.5s;
}
.slider-inner .slide.current{
	opacity: 1;
	visibility: visible;
	z-index: 1;
}
.slider-inner .slide.current h3{
	bottom: 0;
}
.slider-control{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 10;
}
.slider-control .next,
.slider-control .prev{
	display: inline-block;
	font-size: 30px;
	color: #eee;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 2px;
	backdrop-filter: blur(5px);
	background-clip: border-box;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 0 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.slider-control .next{
	right: 5px;
}
.slider-control .prev{
	left: 5px;
}
.slider-control .next:before{
	content: '\00BB';
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.slider-control .prev:before{
	content: '\00AB';
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.slider-control .next:hover,
.slider-control .prev:hover{
	background-color: #fff;
}
.slider-control .next:hover:before,
.slider-control .prev:hover:before{
	color: #333;
	text-shadow: none;
}
